<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" (click)="navigateToMain()">SMS </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToStudents()">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToTeachers()">Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToSubjects()">Subjects</a>
        </li>
      </ul>
    </div>
  </nav>